In [1]:
from pytrends.request import TrendReq
pytrends = TrendReq(hl='en-US', tz=360)

In [4]:
kw_list = ['Buy Bitcoin', 'Sell Bitcoin', 'How to Buy Bitcoin', 'Bitcoin guide']
data = pytrends.get_historical_interest(kw_list, year_start=2018, month_start=1, day_start=1, 
                                 hour_start=0, year_end=2018, month_end=2, day_end=1, 
                                 hour_end=0, cat=0, geo='', gprop='', sleep=10)

The request failed: Google returned a response with code 500.

In [17]:
pytrend = TrendReq()
# Create payload and capture API tokens
pytrend.build_payload(kw_list=['Buy Bitcoin', 'Sell Bitcoin', 'How to Buy Bitcoin', 'Bitcoin guide'], 
                      timeframe='2017-4-1 2017-6-1')

# Interest Over Time
interest_over_time_df = pytrend.interest_over_time()

In [18]:
interest_over_time_df

,Buy Bitcoin,Sell Bitcoin,How to Buy Bitcoin,Bitcoin guide,isPartial
date,,,,,
2017-04-01,13,2,2,1,False
2017-04-02,12,2,3,0,False
2017-04-03,13,2,1,0,False
2017-04-04,12,2,3,0,False
2017-04-05,11,1,2,0,False
2017-04-06,13,3,2,0,False
2017-04-07,12,1,3,0,False
2017-04-08,11,1,2,1,False
2017-04-09,13,2,3,0,False
2017-04-10,12,2,3,1,False
2017-04-11,11,2,3,0,False
2017-04-12,16,2,4,0,False
2017-04-13,13,2,3,0,False
2017-04-14,12,2,2,1,False
2017-04-15,12,1,2,1,False
2017-04-16,12,2,3,0,False
2017-04-17,12,1,2,0,False
2017-04-18,13,2,4,0,False
2017-04-19,13,2,3,1,False
2017-04-20,13,2,3,0,False
2017-04-21,12,2,3,1,False
2017-04-22,10,2,3,0,False
2017-04-23,13,2,2,1,False
2017-04-24,12,2,2,0,False
2017-04-25,12,2,3,0,False
2017-04-26,12,2,4,0,False
2017-04-27,10,2,2,1,False
2017-04-28,14,2,4,1,False
2017-04-29,13,2,3,0,False
2017-04-30,17,2,4,0,False
...,...,...,...,...,...
2017-05-03,17,3,5,0,False
2017-05-04,24,3,6,0,False
2017-05-05,19,3,4,1,False
2017-05-06,21,3,5,1,False
2017-05-07,18,2,5,1,False
2017-05-08,20,3,6,1,False
2017-05-09,23,4,6,1,False
2017-05-10,23,2,5,0,False
2017-05-11,23,4,7,0,False
2017-05-12,28,4,10,0,False
2017-05-13,22,2,7,1,False
2017-05-14,25,4,9,0,False
2017-05-15,28,4,9,1,False
2017-05-16,26,4,8,1,False
2017-05-17,22,3,7,1,False
2017-05-18,18,1,6,0,False
2017-05-19,26,3,8,1,False
2017-05-20,28,5,9,1,False
2017-05-21,29,3,7,1,False
2017-05-22,57,7,17,1,False
2017-05-23,68,6,20,1,False
2017-05-24,86,8,30,1,False
2017-05-25,100,10,35,1,False
2017-05-26,59,6,21,1,False
2017-05-27,49,8,15,1,False
2017-05-28,43,5,12,1,False
2017-05-29,33,6,9,1,False
2017-05-30,38,5,13,1,False
2017-05-31,38,6,14,1,False
2017-06-01,37,4,10,1,False